main{
    background-color: aquamarine;
    display: flex;
    justify-content: center;
    margin-top: 20px;
    gap: 30px;
}

#buttonCards{
    width: 98vw;
    height: 12vh;
    background-color:rgb(124, 237, 250);
    border-radius: 10px;
    cursor: pointer;
    margin-top: 10px;
    transition: transform 0.5s ease;
}

#cards{
    display: flex;
    flex-direction: row;
    gap: 30px;
}

#buttonCards button{
    height: 50px;
    border-radius: 10px;
    background-color: rgb(62, 62, 240);
    color: aliceblue;
}

#buttonCards .img{
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    background-color: yellowgreen;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    font-size: medium;
    font-weight: bold;
}

.img#sn{
    background-color: blanchedalmond;
}
.img#sc{
    background-color: blueviolet;
}
.img#tb{
    background-color: violet;
}
.img#jl{
    background-color: tomato
}
.img#lo{
    background-color: steelblue;
}

#buttonCards:hover{
    transform: scale(1.04);
}

#task{
    border-radius: 5px;
    border: 1px solid black;
    height: 15vh;
    width: 97vw;
    margin-top: 20px;
}

input[type="checkbox"]:checked + span {
  text-decoration: line-through;
}
